{% load static %}
<!doctype html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{% static "css/pico.pumpkin.min.css" %}">
    <title>R/AGB</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/logo.png' %}">
  </head>
  <body>
    <header class="container">
        <nav>
          <ul>
            <li>

        <a aria-label="Page d'accueil" href="{% url "frontend:home" %}">
          <img style="height:50px;" src="{% static "media/logo.png" %}" alt="Logo d'hackens"/>
        </a>
            </li>
          </ul>
          <ul>
            <li class="hide-before-sm">
              <a class="contrast" href="{% url "frontend:home" %}">Accueil</a>
            </li>
            {% if user.is_staff %}
            <li class="hide-before-sm">
              <a class="contrast" href="{% url "admin:index" %}">Admin</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
              <a href="{% url "authens:logout" %}">
                <strong>Déconnexion</strong>
              </a>
            </li>
            <li>
              <button>
                🧑&nbsp;{{ user.username }}
              </button>
            </li>
            {% else %}
            <li>
              <a href="{% url "authens:login" %}">
                Connexion
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
