{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static "css/bundle.css" %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "vendor/fontawesome/css/fontawesome.min.css" %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "vendor/fontawesome/css/solid.min.css" %}" type="text/css" media="screen" charset="utf-8">

    <title>R/AGB</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/logo.png' %}">
  </head>
  <body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url "frontend:home" %}" >
          <img src="{% static "media/logo.png" %}" alt="Logo d'hackens"/>
        </a>

        <a role="button" class="navbar-burger" data-target="main-menu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="main-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url "frontend:home" %}" >
            Accueil
          </a>
          {% if user.is_staff %}
          <a class="navbar-item" href="{% url "admin:index" %}" >
            Admin
          </a>
          {% endif %}
        </div>

        <div class="navbar-end">
          {% if user.is_authenticated %}
          <div class="navbar-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-user"></i>
              </span>
              <span>{{ user.username }}</span>
            </span>
          </div>
          {% endif %}
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
              <a class="button is-secondary" href="{% url "authens:logout" %}">
                <strong>Déconnexion</strong>
              </a>
              {% else %}
              <a class="button is-primary" href="{% url "authens:login" %}">
                <strong>Connexion</strong>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section pt-1 pb-1">
      {% for m in messages %}
      <div class="notification {{ m.level_tag }}" id="message-{{ forloop.counter0 }}">
        <button class="delete" data-target="message-{{ forloop.counter0 }}"></button>
          {{ m }}
        </div>
      {% endfor %}
      {% if not user.is_authenticated %}
      <div class="notification is-warning" id="message-connect-to-edit">
        <button class="delete" data-target="message-connect-to-edit"></button>
        Connectez-vous pour éditer les couleurs
      </div>
      {% endif %}
    </section>
    {% block content %}{% endblock %}
    <script src="{% static "js/bulma-utils.js" %}" defer></script>
  </body>
</html>
