@charset "utf-8"


/* sizes */
$navbar-breakpoint: 600px
/* Colors */

//$primary: #ff6f00;

@import "bulma/bulma.sass"

.tr-disabled
  opacity: 0.33

.input[type=color]
  min-width: 50px

@import "divider.sass"
