{% if field.auto_id %}
<label class="label {% if field.field.required %}{{ form.required_css_class }}{% endif %}">
  {{ field.label_tag }}
</label>
{% endif %}

<div class="control">
  {% for choice in field %}
  <label class="radio">
    {{ choice.tag }}
    {{ choice.choice_label }}
  </label>
  {% endfor %}

  {% for error in field.errors %}
  <span class="help is-danger {{ form.error_css_class }}">{{ error }}</span>
  {% endfor %}

  {% if field.help_text %}
  <p class="help">
    {{ field.help_text|safe }}
  </p>
  {% endif %}
</div>
