{% load bulma %}

<label class="label {% if field.field.required %}{{ form.required_css_class }}{% endif %}">
  {{ field.label_tag }}
</label>

<div class="control is-expanded">
  <span class="select is-fullwidth{% if field|is_multiple_select %} is-multiple{% endif %}{% if field.errors|length > 0 %} is-danger{% endif %}">
    {{ field }}
  </span>

  {% for error in field.errors %}
  <span class="help is-danger {{ form.error_css_class }}">{{ error }}</span>
  {% endfor %}

  {% if field.help_text %}
  <p class="help">
    {{ field.help_text|safe }}
  </p>
  {% endif %}
</div>
